* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:focus {
    outline: none;
}


//Палитра цветов
$scotch-colors: (
//    'primary': #36393b,
//    'secondary': #646464,
//    'accent': #fe2232,
//    'menu': #9a9a9a,
//    'background-accent': #333333,
//    'background-section': #f4f4f4,
	'blue_01': #1F3F68,
	'blue_02': #316099,
	'blue_03': #f4f4f4,
	'blue_04': #5A98D0,
	'blue_05': #f4f4f4,
	'background': #E5E5E5,
);
@function scotch-color($key){
    @return map-get($scotch-colors, $key);
}

//Типографика
//$type-scale: (
////    -2: .8125rem, //13px 
////    -1: .875rem, //14px 
////    0: 1rem, //16px 
////    1: 2.375rem, //38px
//);
//@function type-scale($level){
//    @return map-get($type-scale, $level);
//}

//Общее

.container {
    max-width: 940px;
    margin: 0 auto;
}
.container__header {
    max-width: 1200px;
    margin: 0 auto;
}
@media (max-width : 980px) {
    .container {
        padding: 0 20px; 
    }  
	.footer__container {
        padding: 0 20px; 
    }  
}
@media (max-width : 1210px) {
    .container__header {
        padding: 0 20px; 
    }  
} 

/*HEADER*/

.face_cont {
	position: relative;
	margin-bottom: 190px;
	@media(max-width: 768px){
		margin-bottom: 50px;
	}
}
.face {
	position: relative;
	max-width: 1220px;
	margin: 0 auto;
}
.face_bg-grad {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(0deg, #98C3E8 8.84%, rgba(152, 195, 232, 0) 31.12%);
	opacity: 0.2;
}
.header {
	position: fixed;
	width: 100%;
	height: 88px;
	top: 0;
	padding-top: 40px;
	background-color: #fff;	
	z-index: 50;
	@media(max-width : 768px) {
		padding-top: 20px;
		height: 68px;
	}
}
.header_body {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.face_content {
	padding-bottom: 13vw;
	padding-top: 10vw;
	@media(max-width : 768px) {
		padding-top: 85px;
		padding-bottom: 100px;
	}
}
.face_title {
	max-width: 520px;
	margin-bottom: 30px;
	font-family: "Galien", serif;
	font-size: 64px;
	line-height: 116%;
	letter-spacing: 0.04em;
	color: scotch-color('blue_01');
	@media(max-width : 768px) {
		font-size: 45px;
		line-height: 100%;
	}
}
.face_text {
	max-width: 425px;
	margin-bottom: 70px;
	@media(max-width : 768px) {
		margin-bottom: 40px;
	}
}
.face_pic {
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
	background-image: url(images/face-pic.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right center;
	@media(max-width : 768px) {
		background-position: right bottom;
	}
}

/*Общие*/

.btn {
	position: relative;
	z-index: 30;
	display: block;
	background-color: scotch-color('blue_04');
	box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
	border-radius: 10px;
	border: 1px solid scotch-color('blue_04');
	color: rgba(255,255,255,.6);
	padding: 15px 45px;
	max-width: 220px;
	text-align: center;
	font-family: "Gilroylight", sans-serif;
	font-size: 16px;
	letter-spacing: 0.04em;
	text-decoration: none;
	&:hover {
		color: scotch-color('blue_04');
		background-color: #fff;
		cursor: pointer;
		border: 1px solid scotch-color('blue_04');
	}
	@media(max-width : 768px) {
		padding: 15px 20px;
		max-width: 200px;
	}
}
.body-top {
	display: flex;
	justify-content: space-between;
	margin-bottom: 90px;
	@media(max-width: 768px){
		flex-wrap: wrap;
		margin-bottom: 50px;
	}
}
.name {
	font-family: "Gilroylight", sans-serif;
	font-weight: 700;
	font-size: 36px;
	letter-spacing: 5%;
	line-height: 128%;
}
.text {
	font-family: "Gilroylight", sans-serif;
	font-weight: 400;
	font-size: 16px;
	letter-spacing: 5%;
	line-height: 162%;
	opacity: .6;
}
.text_1 {
	color: scotch-color('blue_01');	
}
.text_2 {
	color: #FFFFFF;
}
.projects__gradient {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 10px;
}

/*Advantages*/

.advantages {
	margin-bottom: 90px;
	@media(max-width: 768px){
		margin-bottom: 0;
	}
}
.advantages__body {
	display: flex;
	justify-content: space-between;
	position: relative;
	@media(max-width: 768px){
		flex-wrap: wrap;
		justify-content: flex-start;
	}	
}
.advantages__name {
	position: absolute;
	top: -15px;
	left: 0;
	max-width: 360px;
	color: scotch-color('blue_02');
	@media(max-width: 768px){
		position: static;
		margin-bottom: 50px;
		width: 100%;
	}
}
.advantages__col_2 {
	@media(max-width: 768px){
		padding-left: 0;
		margin-right: 0;
		width: 100%;
	}
}
.advantages__col_1 {
	align-self: center;
	padding-left: 80px;
	margin-right: 30px;
	@media(max-width: 940px){
		padding-left: 4vw;	
	}
	@media(max-width: 768px){
		padding-left: 0;
		margin-right: 0;
		width: 100%;
	}
}
.advantages__item {
	max-width: 380px;
	box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
	border-radius: 10px;
	padding: 50px;
	margin-bottom: 100px;
	flex-grow: 1;
	@media(max-width: 900px){
		max-width: 340px;
		padding: 30px;	
	}
	@media(max-width: 768px){
		width: 100%;
		max-width: 100%;
		margin-bottom: 50px;
	}
}
.advantages__pic {
	margin-bottom: 50px;
	text-align: center;
	@media(max-width: 768px){
		max-width: 100%;
		margin-bottom: 0;
	}
}
.advantages__pic_2 {
	margin-top: -3.9vw;
}
.advantages__title {
	margin-bottom: 15px;
	font-family: "Gilroylight", sans-serif;
	font-weight: 700;
	font-size: 20px;
	letter-spacing: 5%;
	line-height: 1.5;
	color: scotch-color('blue_01');
}
.advantages__text {
	margin-bottom: 30px;
}
.advantages__link {
	font-family: "Gilroylight", sans-serif;
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 5%;
	color: scotch-color('blue_04');
	text-decoration: none;
	align-items: flex-start;
	&:hover {
		text-decoration: underline;
	}
	&::after {
		content: url(images/arrow.png);
		position: relative;
		top: 3px;
		left: 0px;
		padding-left: 20px;
	}
}
.advantages__arrow {
	margin-left: 20px;	
}

/*Projects*/

.projects {
	width: 100vw;
	margin-bottom: 100px;
	@media(max-width: 768px){
		margin-bottom: 0;
	}
}
.projects-clients__name {
	max-width: 230px;
	margin-right: 30px;
	@media(max-width: 900px){
		max-width: 40%;
	}
	@media(max-width: 768px){
		max-width: 100%;
		margin-bottom: 20px;
	}
}
.projects__name {
	color: scotch-color('blue_01');
}
.projects-clients__text {
	max-width: 540px;
	margin-right: 80px;
	padding: 0 10px;
	@media(max-width: 900px){
		max-width: 60%;
		margin-right: 40px;
	}
	@media(max-width: 768px){
		max-width: 100%;
		width: 100%;
		padding: 0;
		margin-right: 0;
	}
}
.projects__pic {
	position: relative;
	width: 100%;
	height: 417px;
	margin-bottom: 90px;
	border-radius: 10px;
	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		border-radius: 10px;
	}
	@media(max-width: 768px){
		margin-bottom: 50px;
	}
}
.projects__gradient1 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(89.99deg, #1F3F68 3.62%, rgba(31, 63, 104, 0.37) 97.78%);
	border-radius: 10px;
}
.projects__angle {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 358px;
	height: 346px;
	z-index: 5;
}
.projects__body-bottom {
	display: flex;
	justify-content: space-between;
	@media(max-width: 768px){
		justify-content: center;
		flex-wrap: wrap;
	}
}
.projects__pic_sm {
	max-width: 422px;
	@media(max-width: 768px){
		max-width: 100%;
		width: 100%;
	}
}
.projects__pic_2 {
	margin-right: 30px;
	@media(max-width: 768px){
		margin-right: 0;
	}
}
.projects__gradient2 {
	background-image: linear-gradient(308.85deg, rgba(66, 165, 245, 0.4) -1.71%, rgba(21, 101, 192, 0.6) 74.54%);
}
.projects__gradient3 {
	background-image:  linear-gradient(306.48deg, rgba(66, 165, 245, 0.4) 0%, rgba(21, 101, 192, 0.6) 97.81%);
}
.projects__caption1 {
	position: absolute;
	top: 50px;
	right: 60px;
	text-align: end;
}
.projects__caption2,
.projects__caption3 {
	position: absolute;
	top: 25px;
	left: 30px;
}
.projects__title {
	font-family: "Gilroylight", sans-serif;
	font-size: 28px;
	line-height: 164%;
	letter-spacing: 5%;
	color: #fff;
}
.projects__subtitle {
	font-family: "Gilroylight", sans-serif;
	font-size: 16px;
	line-height: 287%;
	letter-spacing: 5%;
	color: #fff;
	opacity: 0.8;
}

/*Clients*/

.clients {
	width: 100%;
	background-color: scotch-color('blue_04');
	border-radius: 200px 0px 0px 0px;
	padding-top: 96px;
	@media(max-width : 768px) {
		padding-top: 50px;
	}
}
.clients__body-top {
	margin-bottom: 110px;
	@media(max-width : 768px) {
		margin-bottom: 30px;
	}
}
.clients__name {
	color: #fff;
	@media(max-width : 768px) {
		text-align: end;
	}
}
.clients__body-bottom {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 125px;
	@media(max-width : 768px) {
		padding-bottom: 50px;
	}
}
.clients__item {
	flex-basis: 25%;
	text-align: center;
	padding: 40px 0;
	border-right: 1px solid rgba(255,255,255,.6);
	border-bottom: 1px solid rgba(255,255,255,.6);
	&:nth-child(4n+4) {
		border-right: 0 solid rgba(255,255,255,.6);
	}
	&:nth-last-child(-n+4) {
		border-bottom: 0 solid rgba(255,255,255,.6);
	}
	@media(max-width : 768px) {
		flex-basis: 50%;
		border-right: 0 solid rgba(255,255,255,.6);
		border-bottom: 1px solid rgba(255,255,255,.6);
		&:nth-child(odd) {
			border-right: 1px solid rgba(255,255,255,.6);
		}
		&:nth-last-child(-n+4) {
		border-bottom: 1px solid rgba(255,255,255,.6);
		}
		&:nth-last-child(-n+2) {
		border-bottom: 0 solid rgba(255,255,255,.6);
	}
	}
}
.clients__item a {
	text-decoration: none;
	font-family: "Gilroylight", sans-serif;
	font-size: 20px;
	line-height: 230%;
	letter-spacing: 2%;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	@media(max-width : 768px) {
		font-size: 16px;
	}
}
.clients__item:last-child a {
	text-transform:capitalize;
}

/*Footer*/

.footer {
	background-color: scotch-color('blue_04');
	width: 100vw;
}
.footer__bg {
	background-color: scotch-color('blue_02');
	max-width: 1840px;
	border-radius: 0px 200px 0px 0px;
	padding-top: 90px;
	@media(max-width : 768px) {
		max-width: 100%;
		padding-top: 50px;
	}
}
.footer__container {
	max-width: 860px;
	margin: 0 auto;
}
.footer__top {
	position: relative;
}
.footer__line {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 6px;
	max-width: 90%;
	width: calc(((100% - 860px) / 2) + 860px);
	border-bottom: 1px solid rgba(255,255,255,.4);
}
.footer__title {
	max-width: 320px;
	margin-bottom: 30px;
	color: #fff;
}
.footer__text {
	max-width: 460px;
	margin-bottom: 90px;
	@media(max-width : 768px) {
		margin-bottom: 50px;
	}
}
.footer__btn {
	@media(max-width : 768px) {
		margin-bottom: 50px;
	}
}
.footer__top-body {
	display: flex;
	justify-content: space-between;
	@media(max-width : 768px) {
		flex-wrap: wrap;
	}
}
.footer__bottom-body {
	display: flex;
	justify-content: space-between;
	margin-top: 96px;
	@media(max-width : 768px) {
		flex-wrap: wrap;
		margin-top: 50px;
	}
}
.about-soc {
	flex-basis: 60%;
	display: flex;
	justify-content: space-around;
	@media(max-width : 768px) {
		flex-basis: 90%;
		justify-content: space-between;	
	}
}
.footer__widget {
	@media(max-width : 768px) {
		
	}
}
.widget__body {
	display: flex;
	margin-bottom: 24px;
	max-width: 264px;
	@media(max-width : 768px) {
		max-width: 100%;
	}
}
.widget__title {
	font-family: "Gilroylight", sans-serif;
	color: #fff;
	margin-bottom: 30px;
}
.widget__title_lg {
	font-size: 28px;
	line-height: 164%;
	letter-spacing: 2%;
	display: flex;
	align-items: center;
	img {
		margin-right: 15px;
	}
}
.widget__title_sm {
	font-size: 20px;
	line-height: 150%;
	letter-spacing: 5%;
	margin-bottom: 30px;
}
.widget__text {
	font-family: "Gilroylight", sans-serif;
	color: rgba(255,255,255,.8);
	font-size: 16px;
	line-height: 162%;
	letter-spacing: 5%;	
}
a.widget__text {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}
#copyright {
	color: rgba(255,255,255,.4);
	padding: 30px 0 64px;
	@media(max-width : 768px) {
		padding: 30px 0;
	}
}
.widget__item {
	display: block;
	margin-bottom: 16px;
}
.widget__letter {
	margin-right: 15px;
	font-weight: 700;
	color: rgb(255,255,255);
}
