* { margin: 0; padding: 0; -webkit-box-sizing: border-box; box-sizing: border-box; }

*:focus { outline: none; }

.container { max-width: 940px; margin: 0 auto; }

.container__header { max-width: 1200px; margin: 0 auto; }

@media (max-width: 950px) { .container { padding: 0 20px; } }

@media (max-width: 1210px) { .container__header { padding: 0 20px; } }

/*HEADER*/
.face_cont { position: relative; }

.face { position: relative; max-width: 1220px; margin: 0 auto; }

.face_bg-grad { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: -webkit-gradient(linear, left bottom, left top, color-stop(8.84%, #98C3E8), color-stop(31.12%, rgba(152, 195, 232, 0))); background: linear-gradient(0deg, #98C3E8 8.84%, rgba(152, 195, 232, 0) 31.12%); opacity: 0.2; }

.header { position: fixed; width: 100%; height: 88px; top: 0; padding-top: 40px; background-color: #fff; z-index: 50; }

@media (max-width: 768px) { .header { padding-top: 20px; height: 68px; } }

.header_body { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.face_content { padding-bottom: 13vw; padding-top: 10vw; }

@media (max-width: 768px) { .face_content { padding-top: 85px; padding-bottom: 100px; } }

.face_title { max-width: 520px; margin-bottom: 30px; font-family: "Galien", serif; font-size: 64px; line-height: 116%; letter-spacing: 0.04em; color: #1F3F68; }

@media (max-width: 768px) { .face_title { font-size: 40px; } }

.face_text { max-width: 425px; margin-bottom: 70px; font-family: "Gilroylight", sans-serif; font-size: 16px; line-height: 162%; letter-spacing: 0.05em; color: #1F3F68; opacity: 0.6; }

@media (max-width: 768px) { .face_text { margin-bottom: 40px; } }

.face_btn { position: relative; z-index: 50; display: block; background-color: #5A98D0; -webkit-box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2); box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2); border-radius: 10px; border: 1px solid #5A98D0; color: #fff; padding: 15px 45px; max-width: 220px; text-align: center; font-family: "Gilroylight", sans-serif; font-size: 16px; letter-spacing: 0.04em; text-decoration: none; }

.face_btn:hover { color: #5A98D0; background-color: #fff; cursor: pointer; border: 1px solid #5A98D0; }

@media (max-width: 768px) { .face_btn { padding: 15px 20px; max-width: 200px; } }

.face_pic { position: absolute; top: 0; right: 0; width: 50%; height: 100%; background-image: url(images/face-pic.png); background-repeat: no-repeat; background-size: contain; background-position: right center; }

@media (max-width: 768px) { .face_pic { background-position: right bottom; } }
